{% extends "base/page.html" %}

{% block page-css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}register/brevet.css" />
{% endblock %}

{% block title %}RandoPony::{{ brevet }}{% endblock %}

{% block page-subtitle %}{{ brevet }}{% endblock %}

{% block content %}
<h3>
  {% if region.long_name != "Club Events" %}
  {{ region.long_name }}
  {% endif %}
  {{ brevet.event|capfirst }}
</h3>

{% if brevet.route_name|lower != 'n/a' %}
<p><strong>Route:</strong> {{ brevet.route_name }}</p>
{% endif %}

<p><strong>Start:</strong> {{ brevet.date|date:"D d-M-Y" }}
at {{ brevet.time|time:"H:i" }}
{% if brevet.alt_start_time %}
or {{ brevet.alt_start_time|time:"H:i" }}
{% endif %}
</p>

<p><strong>
{% if brevet.route_name|lower != 'n/a' %}
Start
{% endif %}
Location:</strong> {{ brevet.location }}</p>

{% if registration_closed and not brevet_started %}
<div id="registration-closed">
  {% if region.long_name != "Club Events" %}
  <p>Pre-registration for this event is closed, but you can still
  print out the <a
  href="http://www.randonneurs.bc.ca/organize/eventform.pdf"
  title="BC Randonneurs Event Waiver Form">event waiver form</a> from
  the club web site, fill it out, and bring it with you to the
  start.</p>

  <p>See you on the road!</p>
  {% else %}
  <p>Pre-registration for this event is closed.</p>

  <p>Sorry!</p>
  {% endif %}
</div>
{% endif %}

{% if rider %}
{% if not duplicate_registration %}
<div id="confirmation">
  <p>You have pre-registered for this event. Cool! Your name should be
  on the list below.</p>

  <p>A confirmation email has been sent to you at
  <kbd>{{ rider_email }}</kbd>, and to the event organizer.</p>

  {% if brevet.route_name|lower != 'n/a' %}
  <p>You can print out the
  <a href="http://www.randonneurs.bc.ca/organize/eventform.pdf"
  title="BC Randonneurs Event Waiver Form">event waiver form</a> from
  the club web site, fill it out, and bring it with you to the start to
  save time and make the organizers like you even more.</p>

  {% if not rider.club_member %}
  <p>You have indicated that you are <strong>NOT</strong> a member of the
  BC Randonneurs. You must be a member of the club to ride this
  brevet. You print out the
  <a href="http://www.randonneurs.bc.ca/organize/2011_membership-and-waiver.pdf" title="BC Randonneurs Club Membership Form">club membership form</a>
  from the club web site, fill it out, and bring it and the membership
  fee with you to the start.</p>

  <p>Have a great ride!</p>
  {% endif %}
  {% endif %}
</div> <!-- id="confirmation" -->
{% endif %}

{% if duplicate_registration %}
<div id="duplicate_registration">
  <p>Hmm... Someone using the name <kbd>{{ rider.full_name }}</kbd> and the
  email address <kbd>{{ rider_email }}</kbd> has already pre-registered
  for this event. Are you sure that you are registering for the
  event you intended to?</p>

  <p>If you are trying to change your email address, or club membership
  status by re-registering, please contact the event organizer.</p>
</div> <!-- id="duplicate_registration" -->
{% endif %}
{% endif %}

{% if rider_list %}
<table>
  <thead>
    <tr>
      <th colspan=2>
	    {{ rider_list|length }} Pre-registered
        {% if brevet.route_name|lower != 'n/a' %}
        Rider{{ rider_list|length|pluralize }}
        {% endif %}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for rider in rider_list %}
    <tr>
      <td>{{ rider.full_name }}</td>
      {% if brevet.alt_start_time %}
      <td>{{ rider.info_answer }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
Nobody has pre-registered.
{% if not registration_closed %}
<a href="{% url register:form region=brevet.region,event=brevet.event,date=brevet.date|date:"dMY" %}">
Be the first!
</a>
{% endif %}
{% endif %}

{% if show_filler_photo %}
{% if brevet.route_name|lower != 'n/a' %}
<img class="filler_img"
     src="{{ MEDIA_URL }}register/images/brevet_picture.jpg"
     alt="Pre-registration list" />
{% else %}
<img class="filler_img_extra_margins"
     src="{{ MEDIA_URL }}register/images/brevet_picture.jpg"
     alt="Pre-registration list" />
{% endif %}
{% endif %}
{% endblock %}

{% block region-link %}
<li>
  <a href="{% url register.views.region_brevets region=region.abbrev %}">
    {{ region.long_name }}
  </a>
</li>
{% endblock %}

{% block info-links %}
<li>
  <a href="{% url register:brevet region=brevet.region,event=brevet.event,date=brevet.date|date:"dMY" %}" class="selected">
    {{ brevet }}
  </a>
</li>
{% if not registration_closed %}
<li>
  <a href="{% url register:form region=brevet.region,event=brevet.event,date=brevet.date|date:"dMY" %}">
    Register
  </a>
</li>
{% endif %}
{% if not brevet_started %}
<li>
  <a href="http://www.randonneurs.bc.ca/organize/eventform.pdf">
    Event Entry Form (PDF)
  </a>
</li>
<li>
  <a href="http://www.randonneurs.bc.ca/organize/2011_membership-and-waiver.pdf">
    Club Membership Form (PDF)
  </a>
</li>
{% endif %}
{% endblock %}
