{% extends "base/register-page.html" %}

{% block title %}RandoPony::{{ brevet }}{% endblock %}

{% block page-subtitle %}{{ brevet }}{% endblock %}

{% block home-link %}
<li><a href="{% url register:home %}">Brevets</a></li>
{% endblock %}

{% block content %}
<p>The {{ brevet }} brevet is over, and the RandoPony has moved on!
</p>
<p>You should be able to find a link to the results of that brevet at:
</p>
<p>{{ results_url|urlize }}</p>

<img class="filler_img" src="{{ MEDIA_URL }}register/images/ItsOver.jpg"
     alt="It's Over!" />
{% endblock %}
