{% extends "base/page.html" %}

{% block title %}RandoPony::{{ region.long_name }}{% endblock %}

{% block page-subtitle %}
{{ region.long_name }}
{% if region.long_name != "Club Events" %}
Brevets
{% endif %}
{% endblock %}

{% block content %}
<p>
  Please click the tab on the right side of the page for the event
  that you want to pre-register for.
</p>

<img class="filler_img"
     src="{{ MEDIA_URL }}register/images/{{ image.file }}"
     alt="{{ image.alt }}" />
{% endblock %}


{% block region-link %}
<li>
  <a href="{% url register.views.region_brevets region=region.abbrev %}"
     class="selected">
    {{ region.long_name }}
  </a>
</li>
{% endblock %}

{% block brevet-list %}
{% for brevet in brevets %}
<li>
  <a href="{% url register:brevet region=brevet.region,event=brevet.event,date=brevet.date|date:"dMY" %}">
    {{ brevet }}
  </a>
</li>
{% endfor %}
{% endblock %}
