{% extends "base/sidebar.html" %}

{% block home-link %}
<li><a href="{% url register:home %}">Home</a></li>
{% endblock %}

{% block region-link %}
<li>
  <a href="{% url register.views.region_brevets region=region.abbrev %}"
     class="selected">
    {{ region.long_name }}
  </a>
</li>
{% endblock %}

{% block brevet-list %}
{% for brevet in brevets %}
<li>
  <a href="{% url register:brevet region=brevet.region,event=brevet.event,date=brevet.date|date:"dMY" %}">
    {{ brevet }}
  </a>
</li>
{% endfor %}
{% endblock %}
