{% extends "register/register_page.html" %}

{% block title %}RandoPony::{{ brevet }}{% endblock %}

{% block page-subtitle %}{{ brevet }}{% endblock %}

{% block content %}
<h3>{{ region_name }} {{ brevet.event }}</h3>

<p><strong>Route:</strong> {{ brevet.route_name }}</p>

{% url register:form region=brevet.region event=brevet.event date=brevet.date|date:"dMY" as form_url %}
<form action="{{ form_url }}" method="POST">
  {{ form.first_name.errors }}
  <p>
    <label for="id_first_name">First name:</label>
    {{ form.first_name }}
  </p>
  {{ form.last_name.errors }}
  <p>
    <label for="id_last_name">Last name:</label>
    {{ form.last_name }}
  </p>
  {{ form.email.errors }}
  <p>
    <label for="id_email">Email:</label>
    {{ form.email }}
  </p>
  {{ form.club_member.errors }}
  <p>
    <label for="id_club_member">Club member?</label>
    {{ form.club_member }}
  </p>
  {% if brevet.info_question %}
  <p>
    {{ brevet.info_question }}<br />
    {{ form.info_answer.errors }}
    <label for="id_info_answer">Brevet info:</label>
    {{ form.info_answer }}
  </p>
  {% endif %}
 <p>
    {{ captcha_question }}
    {{ form.captcha.errors }}
    {{ form.captcha }}
    {% if form.captcha.errors %}
    <a href="http://www.randonneurs.bc.ca/recbook1/sr_arc.html">Hint</a>
    {% endif %}
  </p>
  <input class="formbutton" type="submit" value="Register" />
</form>

<img class="filler_img" src="{{ MEDIA_URL }}register/images/sign-on.jpg"
     alt="Sign-on" />
{% endblock %}

{% block info-links %}
{% url register:brevet region=brevet.region event=brevet.event date=brevet.date|date:"dMY" as brevet_url %}
<li>
  <a href="{{ brevet_url }}">{{ brevet }}</a>
</li>
{% url register:form region=brevet.region event=brevet.event date=brevet.date|date:"dMY" as form_url%}
<li>
  <a href="{{ form_url }}" class="selected">Register</a>
</li>
<li>
  <a href="http://www.randonneurs.bc.ca/organize/eventform.pdf">
    Event Entry Form (PDF)
  </a>
</li>
<li>
  <a href="http://www.randonneurs.bc.ca/organize/2011_membership-and-waiver.pdf">
    Club Membership Form (PDF)
  </a>
</li>
{% endblock %}
