{% extends "register/register_page.html" %}

{% block title %}RandoPony::{{ region.long_name }}{% endblock %}

{% block page-subtitle %}
{{ region.long_name }}
{% if region.long_name != "Club Events" %}
Brevets
{% endif %}
{% endblock %}

{% block content %}
<p>
  Please click the tab on the right side of the page for the event
  that you want to pre-register for.
</p>

<img class="filler_img"
     src="{{ STATIC_URL }}register/images/{{ image.file }}"
     alt="{{ image.alt }}" />
{% endblock %}


{% block sidebar-links %}
{% url register:region-brevets region.abbrev as region_url %}
<li>
  <a href="{{ region_url }}" class="selected">{{ region.long_name }}</a>
</li>

{% for brevet in brevets %}
{% url register:brevet region=brevet.region event=brevet.event date=brevet.date|date:"dMY" as brevet_url %}
<li>
  <a href="{{ brevet_url }}">{{ brevet }}</a>
</li>
{% endfor %}
{% endblock %}
