{% extends "base/sidebar.html" %}

{% block home-link %}
<li>
  <a href="{% url register.views.home %}">
    Home
  </a>
</li>
{% endblock %}

{% block region-link %}
<li>
  <a href="{% url register.views.region_brevets region=region.abbrev %}">
    {{ region.long_name }}
  </a>
</li>
{% endblock %}

{% block info-links %}
<li>
  <a href="{% url register.views.brevet region=brevet.region,distance=brevet.distance,date=brevet.date|date:"dMY" %}" class="selected">
    {{brevet}}
  </a>
</li>
{% if not registration_closed %}
<li>
  <a href="{% url register.views.registration_form region=brevet.region,distance=brevet.distance,date=brevet.date|date:"dMY" %}">
    Register
  </a>
</li>
{% endif %}
<li>
  <a href="http://www.randonneurs.bc.ca/introduction/eventform.pdf">
    Event Entry Form (PDF)
  </a>
</li>
<li>
  <a href="http://www.randonneurs.bc.ca/introduction/2010_membership-and-waiver.pdf">
    Club Membership Form (PDF)
  </a>
</li>
{% endblock %}
