{% extends "page.html" %}
{% load url from future %}

{% block app-css %}
<link rel="stylesheet" type="text/css"
      href="{{ STATIC_URL }}pasture/pasture.css" />
{% endblock %}

{% block title %}RandoPony{% endblock %}
{% block page-subtitle %}Event Pre-registration{% endblock %}

{% block content %}
<p>
  Welcome to the pre-registration site for the BC Randonneurs Cycling
  Club brevets, populaires, and other events.
</p>
<div class="filler_img">
  <img class="filler_img"
       src="{{ STATIC_URL }}pasture/images/HomeClimb.jpg"
       alt="BC Randonneurs brevet, populaires and events" />
  <div class="photo-credit">Nobo Yonemitsu</div>
</div>
{% endblock %}


{% block home-link %}
<li><a href="{% url 'pasture:home' %}" class="selected">Home</a></li>
{% endblock %}


{% block sidebar-links %}
{% if brevets %}
<li><a href="{% url 'register:home' %}">Register for Brevets</a></li>
{% endif %}

{% if populaires %}
<li>
  <a href="{% url 'populaires:populaires-list' %}">Register for Populaires</a>
</li>
{% endif %}
{% endblock %}
