/* Styles for populaire pre-registration pages */
.errorlist {
    color: red;
}

h3.pad-heading {
    padding-top: 2.5em;
}

.filler_img {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 23px;
}
.filler_img_extra_margins {
    width: 90%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 23px;
}

#confirmation, #duplicate_registration, #registration-closed {
    background-color: #ffff99;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

label.outside-paragraph {
    font-size: 0.9em;
}
li label {
    font-weight: normal;
}