{% extends "derived/home/sidebar.html" %}

{% block title %}RandoPony::Registration{% endblock %}

{% block content %}
<p>  Welcome to the pre-registration site for the BC Randonneurs Cycling
  Club brevets.
</p>
<p>  This site provides a pre-registration service for brevets that
  simply lets the ride organizer know that you are intending to
  ride. We collect your name and email address so that we can confirm
  your pre-registration to you and the organizer by email.
</p>
<p>  We also provide a link to the event waiver form that you can print,
  fill out, and bring to the start with you to save time and
  brain-power in the early dawn hours. If you're not already a member
  of the club there is also a link to the club membership form that
  you can also print, fill out, ad bring with you.
</p>
<p>  This is <em>not</em> a credit card payment site, so you'll still need to
  bring your $15 (cash or cheque) with you to the start to pay for the
  event (and another $20 if you'll be paying for membership at the
  start too).
</p>
<p>  Questions about the brevets should be directed to the ride
  organizers. Feedback about this site can be sent to
  <kbd>djl at douglatornell dot ca</kbd>.
</p>
<p>  Please click the tab on the right side of the page for the brevet
  that you want to pre-register for.
</p>

<p>If you are a brevet organizer and would like set up pre-registration
for your ride, please read the <a href="/register/organizer_info/">Info
for Brevet Organizers</a> page.
</p>
{% endblock %}
